body {
    padding-top: 50px;
}

.form-horizontal .control-label{
  text-align: left;
}

.best-members {
    list-style-type: none;
    padding: 0;
}

.sidebar {
    padding-top: 50px;
}

.error-message {
    color: red;
}

.thumbs-up {
    color: green;
    cursor: pointer;
}

.thumbs-down {
    color: red;
    cursor: pointer;
}

.searchbar, .ask, .avatar {
    padding: 9px;
}

.user {
    padding: 5px;
    color: white;
}

.question-img {
    margin: 20px;
}

.textarea-no-resize {
    resize: none;
}

.answer {
    color: green;
}

.mobile-menu {
    padding: 0;
    padding-top: 20px;
    margin: 0;
    list-style: none;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.green {
    color: green;
}

.lg-text {
    font-size: 24px;
}

.md-text {
    font-size: 18px;
}

.options {
    cursor: pointer;
}

.rate, .panel-offset {
    padding-top: 15px;
}
