{% extends 'base.html' %}

{% block title %}New Question{% endblock %}

{% block content %}
<h1>New Question</h1>

<form class="form-horizontal">

    <div class="form-group">
        <label for="title" class="col-sm-1 control-label">Title</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="title" placeholder="Enter title here">
        </div>
    </div>

    <div class="form-group">
        <label for="text" class="col-sm-1 control-label">Text</label>
        <div class="col-sm-10">
            <textarea class="form-control textarea-no-resize" rows="15" id="text" placeholder="Enter text here"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="tags" class="col-sm-1 control-label">Tags</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="tags" placeholder="Enter tags here">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
            <button type="submit" class="btn btn-default">Ask!</button>
        </div>
    </div>

</form>
{% endblock %}