{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>
        {% block title %}

        {% endblock %}
    </title>

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Custom -->
    <link href="{% static 'css/askustimov.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header col-lg-2 col-sm-2 col-md-2">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">AskUstimov</a>
                <div class="col-xs-2 col-xs-offset-3">
                    <div class="ask visible-xs">
                        <a href="{% url 'ask' %}"><div class="btn btn-success">ASK!</div></a>
                    </div>
                </div>
            </div>

            <div id="navbar" class="collapse navbar-collapse">
                <div class="searchbar col-lg-5 col-sm-5 col-md-5">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
                <div class="col-lg-2 col-sm-2 col-md-2">
                    <div class="ask hidden-xs">
                        <a href="{% url 'ask' %}"><div class="btn btn-success">ASK!</div></a>
                    </div>
                </div>
                <ul class="nav navbar-nav col-lg-3 col-sm-3 col-md-3">
                    {% block menu %}
                        <li class="active"><a href="{% url 'login' %}">Log In</a></li>
                        <li><a href="{% url 'signup' %}">Register</a></li>
                    {% endblock %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">
        <div class="col-md-9">

            <div class="row col-md-12">
                <div class="btn-group mobile-menu visible-xs visible-sm" role="group">
                    <button type="button" class="btn btn-default" data-toggle="collapse" href="#collapseOne" aria-controls="collapseOne">Popular Tags</button>
                    <button type="button" class="btn btn-default" data-toggle="collapse" href="#collapseTwo" aria-controls="collapseTwo">Best Members</button>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div id="collapseOne" class="collapse">
                            <h2>Popular Tags</h2>
                            perl <span class="red md-text">python</span> TechnoPark <span class="red lg-text">MySQL</span>
                            <span class="green md-text">django</span> Mail.Ru Voloshin <span class="orange md-text">Firefox</span>
                        </div>
                    </div>
                </div>
                <div class="collapse" id="collapseTwo">
                     <h2>Best Members</h2>
                    <ul class="best-members">
                        <li><a href="#">Mr. Freeman</a></li>
                        <li><a href="#">Dr. House</a></li>
                        <li><a href="#">Bander</a></li>
                        <li><a href="#">Queen Victoria</a></li>
                        <li><a href="#">A. Ustimov</a></li>
                    </ul>
                </div>
            </div>

            {% block content %}

            {% endblock %}
            {% if is_paginated %}
                <nav class="text-center">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li>
                                <a href="{% url 'index' %}?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}
                        {% for page in page_obj.paginator.page_range %}
                            {% if forloop.counter == 1 and page_obj.number|add:'-1' > 1 %}
                                {% if tag %}
                                    <li><a href="{% url 'tag' tag.text %}?page=1">1</a></li>
                                {% elif question %}
                                    <li><a href="{% url 'question' question.id %}?page=1">1</a></li>
                                {% elif hot %}
                                    <li><a href="{% url 'hot' %}?page=1">1</a></li>
                                {% else %}
                                     <li><a href="{% url 'index' %}?page=1">1</a></li>
                                {% endif %}
                                {% if page_obj.previous_page_number != 2 %}
                                    <li><a href="#">...</a></li>
                                {% endif %}
                            {% endif %}
                            {% if not page < page_obj.number|add:'-1' and not page > page_obj.number|add:'+1' %}
                                {% if page_obj.number == page %}
                                    <li class="active">
                                {% else %}
                                    <li>
                                {% endif %}
                                    {% if tag %}
                                        <a href="{% url 'tag' tag.text %}?page={{ page }}">{{ page }}</a>
                                    {% elif question %}
                                        <a href="{% url 'question' question.id %}?page={{ page }}">{{ page }}</a>
                                    {% elif hot %}
                                        <a href="{% url 'hot' %}?page={{ page }}">{{ page }}</a>
                                    {% else %}
                                        <a href="{% url 'index' %}?page={{ page }}">{{ page }}</a>
                                    {% endif %}
                                </li>
                            {% endif %}

                            {% if forloop.last and page_obj.number|add:'+1' < page_obj.paginator.page_range|length %}
                                {% if page_obj.next_page_number != page_obj.paginator.page_range|length|add:'-1' %}
                                    <li><a href="#">...</a></li>
                                {% endif %}
                                <li>
                                    {% if tag %}
                                        <a href="{% url 'tag' tag.text %}?page={{ page_obj.paginator.page_range|length }}">
                                            {{ page_obj.paginator.page_range|length }}
                                        </a>
                                    {% elif question %}
                                        <a href="{% url 'question' question.id %}?page={{ page_obj.paginator.page_range|length }}">
                                            {{ page_obj.paginator.page_range|length }}
                                        </a>
                                    {% elif hot %}
                                        <a href="{% url 'hot' %}?page={{ page_obj.paginator.page_range|length }}">
                                            {{ page_obj.paginator.page_range|length }}
                                        </a>
                                    {% else %}
                                        <a href="{% url 'index' %}?page={{ page_obj.paginator.page_range|length }}">
                                            {{ page_obj.paginator.page_range|length }}
                                        </a>
                                    {% endif %}
                                </li>
                            {% endif %}

                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li>
                                {% if tag %}
                                    <a href="{% url 'tag' tag.text %}?page={{ page_obj.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                {% elif question %}
                                    <a href="{% url 'question' question.id %}?page={{ page_obj.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                {% elif hot %}
                                    <a href="{% url 'hot' %}?page={{ page_obj.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                {% else %}
                                    <a href="{% url 'index' %}?page={{ page_obj.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                {% endif %}
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div>
        <div class="sidebar col-md-3 hidden-xs hidden-sm">
            <h2>Popular Tags</h2>
            perl <span class="red md-text">python</span> TechnoPark <span class="red lg-text">MySQL</span>
            <span class="green md-text">django</span> Mail.Ru Voloshin <span class="orange md-text">Firefox</span>
            <h2>Best Members</h2>
            <ul class="best-members">
                <li><a href="#">Mr. Freeman</a></li>
                <li><a href="#">Dr. House</a></li>
                <li><a href="#">Bander</a></li>
                <li><a href="#">Queen Victoria</a></li>
                <li><a href="#">A. Ustimov</a></li>
            </ul>
        </div>
    </div><!-- /.container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>