{% extends 'base.html' %}

{% block title %}
    {% if tag %}
        Tag: {{ tag.text }}
    {% elif hot %}
        Hot Questions
    {% else %}
        New Questions
    {% endif %}
{% endblock %}

{% block menu %}
<li>
    <div class="avatar"><img class="img-rounded" src="https://placehold.it/32x32">
        <span class="user">
            <div class="btn-group">
                Dr. Pepper
                <i class="fa fa-caret-down fa-lg dropdown-toggle options hidden-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                <ul class="dropdown-menu">
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Log Out</a></li>
                </ul>
            </div>
        </span>
    </div>
</li>
<li class="visible-xs"><a href="#">Settings</a></li>
<li class="visible-xs"><a href="#">Log Out</a></li>
{% endblock %}

{% block content %}
    {% if tag %}
        <h1>Tag: {{ tag.text }}</h1>
    {% elif hot %}
        <h1>Hot Questions</h1>
    {% else %}
        <h1>New Questions</h1>
    {% endif %}

    {% for question in questions %}
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-2 text-center">
                    <img class="img-rounded" src="https://placehold.it/100x100">
                    <div class="rate">
                        <i role="button" class="fa fa-thumbs-o-down fa-lg thumbs-down"></i>
                        {{ question.likes.count }}
                        <i role="button" class="fa fa-thumbs-o-up fa-lg thumbs-up"></i>
                    </div>
                </div>
                <div class="col-sm-10">
                    <h3><a href="{{ question.get_absolute_url }}">{{ question.title }}</a></h3>
                    {{ question.text }}
                </div>
                <div class="panel-offset col-sm-2 col-xs-12">
                    <a href="{{ question.get_absolute_url }}">Answers ({{ question.answer_set.values|length }})</a>
                </div>
                <div class="panel-offset col-sm-8 col-xs-12">
                    Tags:
                    {% for tag in question.tags.values %}
                        <a href="{% url 'tag' tag.text %}">{{ tag.text }}</a>{% if not forloop.last %},{% endif %}
                    {% empty %}
                        there is no tags
                    {% endfor %}
                </div>
            </div>
        </div>
    {% empty %}
        There is no questions
    {% endfor %}
{% endblock %}