{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h1>Log In</h1>

<div class="alert alert-danger" role="alert">Sorry, wrong password!</div>

<form class="form-horizontal">

    <div class="form-group">
        <label for="login" class="col-sm-2 control-label">Login</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="login" placeholder="Enter your login here">
        </div>
    </div>

    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-6">
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Log in!</button>
        </div>
    </div>

    <div class="col-sm-offset-2">
        <a href="{% url 'signup' %}">Create new account</a>
    </div>

</form>
{% endblock %}