{% extends 'base.html' %}

{% block title %}{{ question.title }}{% endblock %}

{% block content %}
<h1></h1>
<div class="row">
    <div class="col-sm-3 col-md-3 text-center">
        <div class="question-img">
            <img class="img-rounded" src="https://placehold.it/120x120">
            <div class="rate text-center">
                <i role="button" class="fa fa-thumbs-o-down fa-lg thumbs-down"></i>
                {{ question.likes.count }}
                <i role="button" class="fa fa-thumbs-o-up fa-lg thumbs-up"></i>
            </div>
        </div>
    </div>
        <div class="col-sm-9 col-md-9">
        <h3>{{ question.title }}</h3>
        {{ question.text }}
    </div>
    <div class="panel-offset col-sm-9 col-md-9">
        Tags:
        {% for tag in question.tags.values %}
            <a href="{% url 'tag' tag.text %}">{{ tag.text }}</a>{% if not forloop.last %},{% endif %}
        {% empty %}
            there is no tags
        {% endfor %}
    </div>
</div>

<hr>

{% for answer in answers %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-sm-2 text-center">
                <img class="img-rounded" src="https://placehold.it/100x100">
                <div class="rate">
                    <i role="button" class="fa fa-thumbs-o-down fa-lg thumbs-down"></i>
                    {{ answer.likes.count }}
                    <i role="button" class="fa fa-thumbs-o-up fa-lg thumbs-up"></i>
                </div>
            </div>
            <div class="col-sm-10">
                {{ answer.text }}
            </div>
            {% if answer.is_correct %}
                <div class="panel-offset col-sm-2 col-xs-4">
                    <i class="fa fa-check fa-2x answer"></i>
                </div>
            {% else %}
                <div class="panel-offset col-sm-2 col-xs-4">
                    <a href="#"><div class="btn btn-default">Correct</div></a>
                </div>
            {% endif %}
        </div>
    </div>
{% empty %}
    There is no answers
{% endfor %}

<hr>

<div class="col-sm-12">
    <form class="form-horizontal">
        <div class="form-group">
            <textarea class="form-control textarea-no-resize" rows="10" id="text" placeholder="Enter your answer here"></textarea>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-default">Answer</button>
        </div>
    </form>
</div>

{% endblock %}