{% extends 'base.html' %}

{% block title %}Registration{% endblock %}

{% block content %}
<h1>Registration</h1>

<div class="alert alert-danger" role="alert">Sorry, this email address already registered!</div>

<form class="form-horizontal">

    <div class="form-group">
        <label for="login" class="col-sm-3 control-label">Login</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="login" placeholder="Enter your login here">
        </div>
    </div>

    <div class="form-group">
        <label for="email" class="col-sm-3 control-label">Email</label>
        <div class="col-sm-6">
            <input type="email" class="form-control" id="email" placeholder="Enter your email here">
        </div>
    </div>

    <div class="form-group">
        <label for="nickname" class="col-sm-3 control-label">Nickname</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="nickname" placeholder="Enter your nickname here">
        </div>
    </div>

    <div class="form-group">
        <label for="password" class="col-sm-3 control-label">Password</label>
        <div class="col-sm-6">
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
    </div>

    <div class="form-group">
        <label for="password2" class="col-sm-3 control-label">Repeat password</label>
        <div class="col-sm-6">
            <input type="password" class="form-control" id="password2" placeholder="Repeat password">
        </div>
    </div>

    <div class="form-group">
        <label for="image" class="col-sm-3 control-label">Upload avatar</label>
        <div class="col-sm-6">
            <input type="file" id="image">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-10">
            <button type="submit" class="btn btn-default">Register!</button>
        </div>
    </div>

</form>
{% endblock %}